/* 
    Document   : content_translation_progress_block.css
    Created on : 21-mrt-2012, 21:58:41
    Author     : Robin Kesseler
    Description:
        style translation progress
*/

table#content-translation-progress-block-progress-bar{
  width: 100%;
  border: 1px solid #B5B5B5;
  background-color: black;
  color: #B5B5B5;
}

td#content-translation-progress-block-currentPercentagelang1-text{
  text-align: left;
  color: green;
  font-size: 26px;
  color: green;
}

td#content-translation-progress-block-currentPercentagelang2-text{
  text-align: right;
  color: red;
  font-size: 14px;
  color: red;
}

td#content-translation-progress-block-progress-bar-wrapper{
  /*unused*/
}

td#content-translation-progress-block-summary-text{
  text-align: center;
}

table#content-translation-progress-block-progress-bar-subwrapper{
  height: 100%;
  border: 1px solid black;
}

td#content-translation-progress-block-progress-bar-lang1{
  height: 100%;
  text-align: left;
  background: black url('images/pb_lang1.jpg') repeat-x;
}

td#content-translation-progress-block-progress-bar-lang2{
  height: 100%;
  text-align: right;
  color: white;
  background: black url('images/pb_lang2.jpg') repeat-x;
}